{% extends 'portal/base.html' %}
{% load static %}
{% block title %}Add Data{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'portal/css/bootstrap-table.min.css' %}" />
{% endblock %}

{% block content %}
    <div class="row width-inherit">
        <h1 class="text-center">GIS Parameters</h1>
        <div class="row">
            <div class="container">
                <h3 class="text-center loading-text">Fetching Existing Fields</h3>
                <h4 class="text-center text-danger table-error"></h4>
                <table id="gisParamTable"></table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Add New GIS Parameters</h3>
            </div>
            <div class="container">
                <div class="col-xs-12">
                    <form id="addNewParamForm">
                        <div class="form-error text-center text-danger"></div>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="key_name">Parameter Identifier (required)</label>
                            <input type="text" class="form-control" name="key_name" id="key_name" required/>
                        </div>
                        <div class="form-group">
                            <label for="key_label">Parameter Label (required)</label>
                            <input type="text" class="form-control" name="label" id="key_label" required/>
                        </div>
                        <div class="form-group">
                            <label for="key_type">Parameter Type (required)</label>
                            <select class="form-control" name="key_type" id="key_type" required>
                                <option value=""></option>
                                <option value="text">Text</option>
                                <option value="number">Number</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="key_min">Parameter Min Value (leave blank for none)</label>
                            <input type="text" class="form-control" name="min" id="key_min" />
                        </div>
                        <div class="form-group">
                            <label for="key_max">Parameter Max Value (leave blank for none)</label>
                            <input type="text" class="form-control" name="max" id="key_max" />
                        </div>
                        <div class="form-group">
                            <label for="key_max_len">Parameter Max Length(leave blank for none)</label>
                            <input type="text" class="form-control" name="max_len" id="key_max_len" />
                        </div>
                        <div class="form-group">
                            <label for="key_step">Parameter Step (leave blank for none)</label>
                            <input type="text" class="form-control" name="step" id="key_step" />
                        </div>
                        <div class="form-group">
                            <label for="key_required">Parameter Required (leave blank for not required)</label>
                            <input type="checkbox" class="form-control" name="required" id="key_required" />
                        </div>
                        <div class="form_group">
                            <label for="is_removable">Is Removable</label>
                            <input type="checkbox" class="form-control" name="is_removable" id="is_removable" checked/>
                        </div>
                        <button type="submit" class="btn btn-primary center-block" id="addNewParamBtn">Add New Parameter</button>
                    </form> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'portal/js/bootstrap-table.min.js' %}"></script>
    <script>
        $(document).ready(function(e){
            var form = $("#addNewParamForm");
            var apiURI = '/portal/ajax/';
            var submitBtn = $("#addNewParamBtn");
            var errorBox = form.find(".form-error");
            var tableError = $(".table-error");
            var metaFields = [];
            var metaColumns = [
                {
                    field: 'state',
                    checkbox: true,
                    align: 'center',
                },
                {
                    field: "id",
                    title: "Id",
                },
                {
                    field: "key_name",
                    title: "Identifier",
                    sortable: true
                },
                {
                    field: "label",
                    title: "Label",
                    sortable: true,
                    editable: true,
                },
                {
                    field: "key_type",
                    title: "Type",
                    sortable: true
                },
                {
                    field: "min",
                    title: "Min Value",
                    sortable: true,
                    editable: true
                },
                {
                    field: "max",
                    title: "Max Value",
                    sortable: true,
                    editable: true
                },
                {
                    field: "max_len",
                    title: "Max Length",
                    sortable: true,
                    editable: true
                },
                {
                    field: "step",
                    title: "Step",
                    sortable: true,
                    editable: true
                },
                {
                    field: "required",
                    title: "Required",
                    sortable: true,
                    editable: true
                },
                {
                    field: 'action',
                    title: 'Actions',
                    align: 'center',
                    formatter: actionFormatter
                }
            ]
            function actionFormatter(value, row, index){
                html = '<a href="#" class="paramRemoveBtn"><i class="glyphicon glyphicon-remove"></i></a>';
                return html;
            }
            function init(){
                getmetafields(displayMetaFields);   
                setTimeout(function(){
                    $("#gisParamTable").bootstrapTable({
                        columns: metaColumns,
                        data: metaFields,
                        clickToSelect: true,
                        pagination: true,
                        pageSize: 10,
                        search: true,
                        showColumns: true,
                        showToggle: true,
                        singleSelect: true,
                        idField: "id",
                        uniqueId: "id",
                    });
                    $(".loading-text").hide();
                    bindParamRemove();
                },3000);
            }
            function bindParamRemove(){
                $(".paramRemoveBtn").one("click", function(e){
                    e.preventDefault();
                    removeParam($(this).parents("tr"));
                });
            }
            function removeParam(row){
                $(".paramRemoveBtn").off("click");
                var id = row.attr("data-uniqueid");
                var r = confirm("This will delete all data associated with parameter #"+id);
                if(r == true){
                    $.ajax({
                        url: apiURI + 'removeparam',
                        data: "id="+id+"&csrfmiddlewaretoken="+'{{ csrf_token }}',
                        dataType: "JSON",
                        method: "POST",
                        success: function(response){
                            r = response;
                            processResponse(r);
                        },
                        error: function(response){
                            console.log(response);
                        }
                    });
                }else{
                    bindParamRemove();
                }
                function processResponse(r){
                    if(r.status == "success"){
                        $("#gisParamTable").bootstrapTable('removeByUniqueId',id);
                    }else{
                        if(r.status == "error"){
                            tableError.fadeOut();
                            tableError.html("Unable to Delete due to "+r.msg);
                            tableError.fadeIn();
                        }   
                    }
                    bindParamRemove();
                }
            }
            function displayMetaFields(data){
                metaFields = [];
                $.each(data, function(i,v){
                    metaFields.push(v);
                });
                $(document).trigger('triggerdisplaymetafields');
            }
            form.find("input").on("change", function(e){
                validateField($(this));
            });
            $("#key_type").change(function(e){
                if($(this).val()=="number"){
                    $("#key_max, #key_min, #key_step").parent("div").show();
                    $("#key_max_len").parent("div").hide();
                }
                if($(this).val()=="text"){
                    $("#key_max_len").parent("div").show();
                    $("#key_max, #key_min, #key_step").parent("div").hide();
                }
            });
            function validateForm(){
                var toReturn = false;
                form.find("input").each(function(e){
                    toReturn = validateField($(this));
                    if(!toReturn)
                        return false;
                });
                return toReturn;
            }
            function validateField(field){
                var val = field.val();
                var len = val.length;
                console.log(field.attr("required"));
                if(field.attr("required")!="undefined" && field.attr("required")!=undefined){
                    if(len==0){
                        field.tooltip({title:"This Field is required!", trigger:"manual", placement:"auto bottom"});
                        field.tooltip('show');
                        field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                        return false;
                    }
                }
                if(field.attr("min")!="undefined"){
                    if(field.attr("type")=="text"){
                        if(len<parseInt(field.attr("min"))){
                            field.tooltip({title:"Enter Atleast "+field.attr("min")+" characters", trigger:"manual", placement:"auto bottom"});
                            field.tooltip("show");
                            field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                            toReturn = false;
                            return false
                        }
                    }else{
                        val = field.val();
                        min = field.attr("min");
                        if(field.attr("type")=="number"){
                            val = parseFloat(field.val());
                            min = parseFloat(field.attr("min"));
                        }
                        if(val<min){
                            field.tooltip({title:"Min allowed value is "+field.attr("min"), trigger: "manual", placement:"auto bottom"});
                            field.tooltip("show");
                            field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                            toReturn = false;
                            return false;
                        }
                    }
                    
                }
                if(field.attr("max")!="undefined"){
                    if(field.attr("type")=="text"){
                        if(len>parseInt(field.attr("max"))){
                            field.tooltip({title:"Max "+field.attr("max")+" characters allowed!", trigger: "manual", placement:"auto bottom"});
                            field.tooltip("show");
                            field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                            toReturn = false;
                            return false;
                        }
                    }else{
                        val = field.val();
                        max = field.attr("max");
                        if(field.attr("type")=="number"){
                            val = parseFloat(field.val());
                            max = parseFloat(field.attr("max"));
                            console.log("    This is a number field");
                        }
                        console.log(val)
                        if(val>max){
                            field.tooltip({title:"Max allowed value is "+field.attr("max"), trigger: "manual", placement:"auto bottom"});
                            field.tooltip("show");
                            field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                            toReturn = false;
                            return false;
                        }
                    }
                }
                if(field.attr("max-len")!="undefined"){
                    val = field.val();
                    max_len = parseInt(field.attr("max-len"));
                    if(val.length>max_len){
                        field.tooltip({title:"Max "+field.attr("max-len")+' characters allowed', trigger: "manual", placement:"auto bottom"});
                        field.tooltip("show");
                        field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                        toReturn = false;
                        return false;
                    }
                }
                field.tooltip("hide");
                field.parent("div.form-group").removeClass("has-error").addClass("has-success");
                return true;
            }
            form.submit(function(e){
                e.preventDefault();
                if(!validateForm()){
                    errorBox.html("Please Correct the details below!").show();
                    return false;
                }
                errorBox.hide();
                var data = form.serialize();
                submitBtn.html("Processing");
                $.ajax({
                    url: apiURI + "addnewparam",
                    type: "POST",
                    data: data,
                    dataType: "JSON",
                    success: function(response){
                        console.log(response);
                        r = response;
                        processResponse(r);
                    },
                    error: function(response){
                        console.log("Error");
                        console.log(response);
                    }
                });
                function processResponse(r){
                    if(r.status=="success"){
                        submitBtn.html("Success");
                        getmetafields(displayMetaFields);
                        $(document).one('triggerdisplaymetafields', function(){
                            $("#gisParamTable").bootstrapTable('load',metaFields);
                            bindParamRemove();
                        });
                        setTimeout(function(){resetForm();}, 1000);
                    }else{
                        if(r.status=="error"){
                            submitBtn.html("Error");
                            errorBox.html(r.message).show();
                            if(r.errcode=="KEY_EXISTS"){
                                field = $("#key_name");
                                field.tooltip({title:"This identifier already exist", trigger: "manual", placement:"auto bottom"});
                                field.tooltip("show");
                                field.parent("div").removeClass("has-success").addClass("has-error");
                                field.focus();

                            }
                            setTimeout(function(){submitBtn.html("Add");},2000);
                        }
                    }
                }
            });
            function resetForm(){
                form[0].reset();
                submitBtn.html("Add");
            }
            init();
        });
    </script>
{% endblock %}