{% extends 'portal/base.html' %}

{% block title %}Add Data{% endblock %}

{% block content %}
    <div class="row width-inherit">
        <div class="col-xs-12">
            <h3 class="text-center">Add New GIS Data</h3>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-xs-12">
                    <form id="addNewDataForm">
                        {% csrf_token %}
                    </form> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(e){
            var form = $("#addNewDataForm");
            var apiURI = '/portal/ajax/';
            var submitBtn = '<button type="submit" id="addNewDataBtn" class="btn btn-default">Add</button>';
            function init(){
                getmetafields(generateForm);
            }

            function generateForm(response){
                $.each(response, function(i,v){
                    var html = '<div class="form-group"><label for="key_'+v.key_name+'">'+v.label+'</label><input class="form-control" type="'+v.key_type+'" data-non-meta="'+v.non_meta+'"data-key="'+v.key_name+'" id="key_'+v.key_name+'" name="'+v.key_name+'"';
                    if(v.min!="Null" && v.min!="undefined")
                        html+=' min="'+v.min+'"';
                    if(v.max!="Null" && v.max!="undefined")
                        html+=' max="'+v.max+'"';
                    if(v.step!="Null" && v.step!="undefined")
                        html+=' step="'+v.step+'"';
                    if(v.max_len!="Null" && v.max_len!="undefined")
                        html+=' max-len="'+v.max_len+'"';
                    if(v.required!="Null" && v.required!=undefined && v.required!="undefined" && v.required=="True") 
                        html+=' required';
                    html+='></div>';
                    addToForm(html);
                });
                form.find("input").change(function(){
                    validateField($(this));
                }); 
                addToForm(submitBtn);
                submitBtn = $("#addNewDataBtn");
            }

            function addToForm(html){
                form.append(html);
            }
            function validateForm(){
                var toReturn = false;
                form.find("input").each(function(e){
                    toReturn = validateField($(this));
                    if(!toReturn)
                        return false;
                });
                return toReturn;
            }
            function validateField(field){
                var val = field.val();
                var len = val.length;
                if(field.attr("required")!="undefined"){
                    if(len==0){
                        field.tooltip({title:"This Field is required!", trigger:"manual", placement:"auto bottom"});
                        field.tooltip('show');
                        field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                        return false;
                    }
                }
                if(field.attr("min")!="undefined"){
                    if(field.attr("type")=="text"){
                        if(len<parseInt(field.attr("min"))){
                            field.tooltip({title:"Enter Atleast "+field.attr("min")+" characters", trigger:"manual", placement:"auto bottom"});
                            field.tooltip("show");
                            field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                            toReturn = false;
                            return false
                        }
                    }else{
                        val = field.val();
                        min = field.attr("min");
                        if(field.attr("type")=="number"){
                            val = parseFloat(field.val());
                            min = parseFloat(field.attr("min"));
                        }
                        if(val<min){
                            field.tooltip({title:"Min allowed value is "+field.attr("min"), trigger: "manual", placement:"auto bottom"});
                            field.tooltip("show");
                            field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                            toReturn = false;
                            return false;
                        }
                    }
                    
                }
                if(field.attr("max")!="undefined"){
                    if(field.attr("type")=="text"){
                        if(len>parseInt(field.attr("max"))){
                            field.tooltip({title:"Max "+field.attr("max")+" characters allowed!", trigger: "manual", placement:"auto bottom"});
                            field.tooltip("show");
                            field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                            toReturn = false;
                            return false;
                        }
                    }else{
                        val = field.val();
                        max = field.attr("max");
                        if(field.attr("type")=="number"){
                            val = parseFloat(field.val());
                            max = parseFloat(field.attr("max"));
                            console.log("    This is a number field");
                        }
                        console.log(val)
                        if(val>max){
                            field.tooltip({title:"Max allowed value is "+field.attr("max"), trigger: "manual", placement:"auto bottom"});
                            field.tooltip("show");
                            field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                            toReturn = false;
                            return false;
                        }
                    }
                }
                if(field.attr("max-len")!="undefined"){
                    val = field.val();
                    max_len = parseInt(field.attr("max-len"));
                    if(val.length>max_len){
                        field.tooltip({title:"Max "+field.attr("max-len")+' characters allowed', trigger: "manual", placement:"auto bottom"});
                        field.tooltip("show");
                        field.parent("div.form-group").removeClass("has-success").addClass("has-error");
                        toReturn = false;
                        return false;
                    }
                }
                field.tooltip("hide");
                field.parent("div.form-group").removeClass("has-error").addClass("has-success");
                return true;
            }
            form.submit(function(e){
                e.preventDefault();
                if(!validateForm())
                    return false;
                console.log("Form Validated!");
                var data = form.serialize();
                submitBtn.html("Processing");
                $.ajax({
                    url: apiURI + "addNewData",
                    type: "POST",
                    data: data,
                    dataType: "JSON",
                    success: function(response){
                        r = response;
                        processResponse(r);
                    },
                    error: function(response){
                        console.log("Error");
                        console.log(response);
                    }
                });
                function processResponse(r){
                    if(r.status=="success"){
                        submitBtn.html("Added Successfully");
                        setTimeout(function(){resetForm();}, 1000);
                    }
                }
            });
            function resetForm(){
                form[0].reset();
                submitBtn.html("Add");
            }
            init();
        });
    </script>
{% endblock %}