{% extends 'portal/base.html' %}
{% load static %}

{% block title %}Add Data{% endblock %}

{% block content %}
    <div class="row width-inherit">
        <div class="col-xs-12">
            <h3 class="text-center">Add New GIS Data</h3>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-xs-12">
                    <form id="addNewDataForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="dataGroupSelect">Select a Data Group</label>
                            <select id="dataGroupSelect" name="data_group" class="form-control dataGroupContainer" required>
                                <option></option>
                            </select>
                        </div>
                        <div id="metaFieldsContainer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'portal/js/chance.min.js' %}"></script>
    <script>
        $(document).ready(function(e){
            var form = $("#addNewDataForm");
            var metaFieldsContainer = $("#metaFieldsContainer");
            var apiURI = '/portal/ajax/';
            var submitBtn = '<button type="submit" id="addNewDataBtn" class="btn btn-primary center-block">Add</button>';
            var groupSelector = $("#dataGroupSelect");

            function init(){
                //First Function to run
                generateForm();
                groupSelector.focus();
            }
            function generateForm(){
                // Generates Form to add NEW GIS DATA
                var timer = setInterval(function(){
                    if(gis_meta_fields_stored == true && gis_groups_stored == true){
                        clearInterval(timer);
                        loadDataGroupSelector(groupSelector);
                        groupSelector.on("change",function(){
                            if($(this).val() == ""){
                                initalizeForm();    //Empty Form if  no group is selected
                                return false;
                            }
                            // Filter parameters
                            var filteredFields = filterGisParametersByGroup($(this).val(), gisMetaFields);
                            initalizeForm();    //Empty Form
                            $.each(filteredFields, function(i,v){
                                var html = '<div class="form-group"><label for="key_'+v.key_name+'">'+v.label+'</label>'+
                                    '<input class="form-control" type="'+v.key_type+'" data-key="'+v.key_name+'" id="key_'+v.key_name+'" name="'+
                                    v.key_name+'"';
                                //Add Parameter Conditions
                                if(v.min!="Null" && v.min!="undefined")
                                    html+=' min="'+v.min+'"';
                                if(v.max!="Null" && v.max!="undefined")
                                    html+=' max="'+v.max+'"';
                                if(v.step!="Null" && v.step!="undefined")
                                    html+=' step="'+v.step+'"';
                                if(v.max_len!="Null" && v.max_len!="undefined")
                                    html+=' max-len="'+v.max_len+'"';
                                if(v.required!="Null" && v.required!=undefined && v.required!="undefined" && v.required=="True")
                                    html+=' required';
                                html+='></div>';
                                addToForm(html);    //Add the field to form
                            });
                            form.find("input, select").change(function(){
                                // On change Validate value
                                validateField($(this));
                            });
                            addToForm(submitBtn);   //Add Submit Button
                            submitBtn = $("#addNewDataBtn");    //select submit btn
                        });
                    }
                });
            }

            function addToForm(html){
                metaFieldsContainer.append(html);
            }
            function initalizeForm(){
                metaFieldsContainer.empty();
            }
            function validateForm(){
                var toReturn = false;
                form.find("input,select").each(function(e){
                    toReturn = validateField($(this));
                    if(!toReturn)
                        return false;
                });
                return toReturn;
            }

            form.submit(function(e){
                //Submits new data to server
                e.preventDefault();
                if(!validateForm())
                    return false;
                var data = form.serialize();
                submitBtn.html("Processing");
                submitBtn.attr("disabled","disabled");
                $.ajax({
                    url: apiURI + "addNewData",
                    type: "POST",
                    data: data,
                    dataType: "JSON",
                    success: function(response){
                        r = response;
                        processResponse(r);
                    },
                  error: function(response){
                        console.log("Error");
                        console.log(response);
                    }
                });
                function processResponse(r){
                    if(r.status=="success"){
                        submitBtn.html("Added Successfully");
                        showNotification("Added Successfully!","success");
                        setTimeout(function(){resetForm();}, 1000);
                    }
                }
            });
            function resetForm(){
                form[0].reset();
                form.find(".has-success").removeClass("has-success");
                form.find("has-error").removeClass("has-error");
                submitBtn.html("Add");
                submitBtn.removeAttr("disabled");
            }
            init();
        });
    </script>
{% endblock %}
