{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'portal/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'portal/css/main.css' %}" />
        <style>
        .container-fluid{
          padding: 0!important;
          margin: 0!important;
        }
        </style>
        {% block css %}
        {% endblock %}
        </head>
    <body>
        {% include 'portal/partials/menu.html' %}
        <section id="content">
            <div class="container-fluid">
                {% block content %}
                    This is browse view. Edit me in /portal/templates/browse.html
                {% endblock %}
            </div>
        </section>
        <script src="{% static 'portal/js/jquery.min.js' %}"></script>
        <script src="{% static 'portal/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'portal/js/notify.min.js' %}"></script>
        <script src="{% static 'portal/js/functions.js' %}"></script>
        <script>
            //GLobal CSRF Access Token
            var csrftoken = "{{ csrf_token }}";
            var gisMetaFields, gisData, gisGroups;
            var gis_data_stored = false, gis_meta_fields_stored = false, gis_groups_stored = false;
            getMetaFields(storeMetaFields);
            getGisData(storeGisData);
            getGisGroups(storeGisGroups);
        </script>
        {% block js %}
        {% endblock %}

    </body>
</html>
