{% extends 'portal/base.html' %}
{% load static %}

{% block title %}Browse::Portal{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'portal/css/bootstrap-table.min.css' %}" />
{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="text-center">Browse</h1>
        <h3 class="text-center loading-text">Loading Table</h3>
        <div class="container">
            <table id="gisDataTable"></table>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include 'portal/partials/gistable.html' %}
{% endblock %}