{% extends 'portal/base.html' %}
{% load static %}

{% block title %}Browse::Portal{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'portal/css/bootstrap-table.min.css' %}" />
    <style>
        .sectionHeader{
            text-align: center;
            font-size: 50px;
            margin-bottom: 25px;
            margin-top: 25px;
            color: #4d4d4d;
            font-weight: 600;
            width: 100%;
            border-bottom: 10px solid;
            border-image: linear-gradient(to right,green 20px, yellow 20px, yellow 40px, red 40px, red 60px, teal 60px, teal 80px) 5;
            padding: 10px;
            font-family: 'Dosis', sans-serif;
        }
        #gisDataTable{
            background-color: #fff;
        }
        @media all and (min-width: 768px){
            #customParameterButton{
                margin-right: 5px;
                -ms-transform: translate(0, 45px); /* IE 9 */
                -webkit-transform: translate(0, 45px); /* Safari */
                transform: translate(0, 45px);
                visibility: hidden;
            }
            #customAddButton{
                -ms-transform: translate(171px, 79px); /* IE 9 */
                -webkit-transform: translate(171px, 79px); /* Safari */
                transform: translate(171px, 79px);
                visibility: hidden;
            }
        }
        #customParameterButton{
            margin-right: 5px;
        }
        .fixed-table-pagination{
            background-color: white;
        }
        .fixed-table-container{
            margin-bottom: 100px;
        }
        #loading{
            font-weight: 600;
            font-size: 37px;
        }
    </style>
{% endblock %}

{% block content %}
      <div  class="container">
        <h1 class="sectionHeader">Browse</h1>
      </div>
        <div id="dataGroupSection" class="form-group container">
            <label>Select Data Group</label>
            <select class="gisDataGroupSelect form-control" data-updateTable="true"></select>
        </div>
        <h3 id="loading" class="text-center loading-text">Loading Table...</h3>
        <div id='mainContainer' class="container" style="position:relative">
            <a id="deleteRowsBtn" class="btn btn-danger button" href="#" style="position:absolute; top:0; display:none;"><span class="glyphicon glyphicon-remove"></span> Delete (<span class="counter"></span>) </a>
            <table id="gisDataTable" data-is-editable = "true"></table>
        </div>
{% endblock %}

{% block js %}
    {% include 'portal/partials/gistable.html' %}
{% endblock %}
