{% extends 'portal/base.html' %}
{% block title %}Reports{% endblock %}
{% block content %}
<style>
.container-fluid{
  margin: 0;
  padding: 0;
  margin-left: 15px;
}
#sidebar{
  margin-top: 15px;
}
.gis-graph{
    width:100%;
    height:300px;
}
</style>
        <div id='sidebar' class="row width-100-p">
            <section class="pull-left height-100 col-md-3 overflow-scroll">
                <div class="row">
                    <h4 class="text-center">Overlay a Shape File</h4>
                    <div class="col-xs-12">
                        <label for="shapeSelector">Select a shapefile:</label>
                        <select id="shapeSelector" class="form-control">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <h4 class="text-center">Filter by</h4>
                    <div class="col-xs-12 form-group">
                        <label>Select Data Group</label>
                        <select class="gisDataGroupSelect form-control" required data-updateTable="false">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label for="gisFilterParamterKey">Match Key</label>
                        <select id="gisFilterParameterKey" class="form-control" required>
                        </select>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label for="gisFilterParameterCondition">Condition</label>
                        <select id="gisFilterParameterCondition" class="form-control" required>
                            <option value=">">Greater Than</option>
                            <option value="<">Less Than</option>
                            <option value="=">Equals</option>
                            <option value=">=">Greater Than or Equals</option>
                            <option value="<=">Less Than or Equals</option>
                        </select>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label for="gisFilterParameterValue">Value</label>
                        <input id="gisFilterParameterValue" class="form-control" placeholder="Value" required/>
                    </div>
                    <div class="col-xs-12 form-group">
                        <button type="button" class="btn btn-primary form-control" id="gisFilterSubmitBtn">Filter</button>
                    </div>
                    <div class="col-xs-12 form-group">
                        <button class="btn btn-primary form-control" id="showAllBtn">Show All</button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button class="form-control" id="distanceToggle" data-status="hidden" disabled>Toggle Distance Measurer</button>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label for="distancBegin">Start:</label>
                        <input id="distanceBegin" class="form-control" type="text" disabled>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label for="distanceEnd">End:</label>
                        <input id="distanceEnd" class="form-control" type="text" disabled>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label for="distanceDistance">Calculated Distance:</label>
                        <input id="distanceDistance" class="form-control" type="text" disabled>
                    </div>
                </div>
            </section>
            <section class="pull-left height-100 col-md-9 no-padding">
                <div class="container height-inherit no-margin no-padding width-100-p">
                    <div id="gisMap" class="height-inherit">
                    </div>               
                </div>
            </section>
        </div>
        <div class="row">
            <section class="container">
                <div class="row width-100-p padding-20-sides">
                    <table id="gisDataTable" data-is-editable="false" class="col-xs-12"></table>
                </div>
            </section>
            <section class="container">
                <div class="row width-100-p" id="charts">
                </div>
            </section>    
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="gisModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><!-- Modal Title --></h4>
                    </div>
                    <div class="modal-body">
                        <!-- Modal Body -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.29&key=AIzaSyD2DVlvcLu7o2m-6OhfbipppHEzRofJh48&libraries=geometry&callback=initMap" async defer></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    var map;                                //Stores Map Instance
    var mapsContainer = $("#gisMap")[0];    //Default Map Container
    var cent_lat = 28.1637151;              //Sihora, MP
    var cent_long = 81.1170138;             //Sihora, MP
    var api_loaded = false, map_loaded = false;
    var curr_data = [], columns = [], curr_markers = [];
    var dataGroupSelect = $(".gisDataGroupSelect");
    var shapeSelect = $("#shapeSelector");
    var distMarker1, distMarker2, distanceLine;  //Used for specifically for distance measurer utility
    // Used to hide features as in places of interest,neighbourdhood landmarks, businesses, building labels, arterial labels and icons
    var styles = {
        default: null,
        hide: [
          { 
           featureType: 'administrative.neighborhood',
           stylers: [{ visibility: 'off' }] 
          },
          {
            featureType: 'poi.business',
            stylers: [{visibility: 'off'}]
          },
          {
            featureType: 'transit',
            elementType: 'labels.icon',
            stylers: [{visibility: 'off'}]
          },
          {
            featureType: 'poi',
            elementType: 'labels.text',
            stylers: [{visibility: 'off'}]
          },
          {
            featureType: 'road.arterial',
            stylers: [{visibility: 'off'}]
          },
          { featureType: 'road.highway',
            elementType: 'labels',
            stylers: [{visibility: 'off'}]
          },
          {
            featureType: 'road.local',
            stylers: [{visibility: 'off'}]
          },
          {
            featureType: 'road.local',
            elementType: 'labels',
            stylers: [{visibility: 'off'}]
          },
          { 
            featureType: 'road', 
            elementType: 'labels.icon', 
            stylers: [{ visibility: 'off' }] 
          }
        ]
    };
    function init(){
        loadShapesSelector(shapeSelect);  //load a shape
        loadFilterKeys();                 //Load Filter Keys
    }
    function initMap(){
        // Default Function Called when Google Maps API is loaded successfully 
        api_loaded = true;
        showMap();  //Load Map once API is loaded
    }
    function showMap(){
        map = new google.maps.Map(mapsContainer, {
            center: {lat: cent_lat, lng: cent_long },
            zoom: 5,
            scrollwheel: false,                   // Maps doesn't zoom accidentally while scrolling when true 
            zoomControl: true,                    // Toggles zoom control buttons visiblity; increases/decreases zoom;postion left-centered
            zoomControlOptions: {
               position: google.maps.ControlPosition.LEFT_CENTER
            },
            scaleControl: true,                   // Toggles scale bar visiblity; shows current scale of the map
            mapTypeControl: true,                 // Toggles the modes of the map from sattelite to terrain.  
            panControl: false,                    // Toggles pan control visiblity; used to navigate around the map
            streetViewControl: false,             // Toggles street view control visiblity; see how the environment looks at street level
            overviewMapControl: false,            // Toggles overview indicator visiblity 
            fullscreenControl: true,              // Toggles full screen control visiblity; views map in full screen
            rotateControl: false                  // Toggles rotate control visiblity 
        });
        
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(
            document.getElementById('info'));
        map_loaded = true;  //Set Map is Loaded Variable
        $("#distanceToggle").removeAttr("disabled");
        // Add controls to the map, allowing users to hide/show features.
        map.setOptions({styles: styles['hide']});
        var mapDataDefaultTimer = setInterval(function(){
            //Set Repeated Function Call to check if GIS Data is loaded 
            if(gis_data_stored == true){
                clearInterval(mapDataDefaultTimer); // Clear the interval once data is loaded
                data = filterGisDataByGroup(dataGroupSelect.val());
                loadGisDataToMap(data);  // Load the data to map
                createChartsFromData(data);
            }
        });
        shapeSelect.on("change", function(e){
            if($(this).val()!="")
                getShapefileCoords($(this).val(), plotMapShapeData);
        });
    }
    // Distance measurer controls
    $("#distanceToggle").click(function(e){
        e.preventDefault();
        var status = $(this).attr("data-status");
        if(status == "hidden"){
            $("#distanceBegin").parents("div:first").show();
            $("#distanceEnd").parents("div:first").show();
            $("#distanceDistance").parents("div:first").show();
            
            //Marker initalisation for measuing distance #1 
            distMarker1 = new google.maps.Marker({
                map: map,
                icon: {url:"https://maps.gstatic.com/mapfiles/ms2/micons/purple-pushpin.png",  // Marker URL #pushpin
                origin: new google.maps.Point(-6,0)     // Origin of the marker 
                }, 
                draggable: true,                        // Marker becomes draggable; usable in this case
                position: {lat: 33.738, lng: 73.0844}   // Location: Islamabad, Pakistan
            });

            //Marker initalisation for measuing distance #2
            distMarker2 = new google.maps.Marker({
                map: map,
                icon: {url:"https://maps.gstatic.com/mapfiles/ms2/micons/purple-pushpin.png",  // Marker URL #pushpin
                origin: new google.maps.Point(-6,0)    // Origin of the marker
                },
                draggable: true,                       // Marker becomes draggable; usable in this case
                position: {lat: 34.543, lng: 69.16066} // Location: Kabul, Afghanistan
            });
            google.maps.event.addListener(distMarker1, 'position_changed', updateDistance);
            google.maps.event.addListener(distMarker2, 'position_changed', updateDistance);
            //Plotting the line between distance markers, customiser
            distanceLine = new google.maps.Polyline({
                strokeColor: '#8A2BE2',               // hexadecimal code of color Violet; Violet to match markers
                strokeOpacity: 1.0,                   // Defines opacity of the polyline
                strokeWeight: 4,                      // Thickness of the polyline
                map: map,
            });
            updateDistance();                         // Calling function updateDistance i.e defined later 
            // Distance measurer controls
            $(this).attr("data-status","visible");
        }else{
            $("#distanceBegin").parents("div:first").hide();
            $("#distanceEnd").parents("div:first").hide();
            $("#distanceDistance").parents("div:first").hide();
            
            distMarker1.setMap(null);
            distMarker2.setMap(null);
            distanceLine.setMap(null);
            $(this).attr("data-status","hidden");
        }
    });
    // Function for updating,showing and storing distance, origin and destination coordinates   
    function updateDistance() {
        var path = [distMarker1.getPosition(), distMarker2.getPosition()];
        var distance = google.maps.geometry.spherical.computeDistanceBetween(distMarker1.getPosition(), distMarker2.getPosition())/1000;
        distanceLine.setPath(path);
        var formattedDist = Math.round(distance*100)/100 + " kms";  // The distance is measured in Meters and later converted into Kilometers using the formula  
        $("#distanceDistance").val(formattedDist);
        $("#distanceBegin").val(path[0].toString());
        $("#distanceEnd").val(path[1].toString());
      }
      
    // Plotting the shapefile uploaded, customiser 
    function plotMapShapeData(data){
        $.each(data,function(i,v){
            var shapeData = v;
            var path = new google.maps.Polyline({
                path:shapeData,
                geodesic: true,               // When true, edges of the polyline will follow the curvature of the Earth                    
                clickable: false,             // Polyline is no longer clickable
                strokeColor: '#FF0000',       // Hexdecimal code for color red
                strokeOpacity: 1.0,           // Opacity of polyline; range 0.0 to 1.0
                strokeWeight: 4               // Thickness of polyline
            });
            var timer = setInterval(function(){
                if(map_loaded){
                    clearInterval(timer);
                    path.setMap(map);
                }
            });
        });
    }
    function loadGisDataToMap(data){
        // Loads Provided data to Map and removes existing data
        if(curr_markers.length>0){
            // Clear Markers if any 
            clearCurrentMarkers();
        }
        $.each(data, function(i,v){
            /** Iterate through provided data and Load them to map
             * Comptaible Format: Array of objects
             * Object (Required Info): {latitude:"Value", longitude: "Value", id:"value", sample_identifier:"Value"}
             * Mapping:
             *     latitude: Marker's Latitude
             *     longitude: Marker's Longitude
             *     id: GIS Data unique id, shown above marker
             *     sample_identifier: GIS Sample Indentifier, shown on hover
            **/
            var coord = {lat: parseFloat(v.latitude) , lng: parseFloat(v.longitude) };
            // Create new marker           
            var marker = new google.maps.Marker({
                position: coord,
                map: map,
                icon: {url:"https://mts.googleapis.com/vt/icon/name=icons/spotlight/spotlight-waypoint-b.png&scale=1 //--", // Marker URL
                scaledSize: new google.maps.Size(35,60),      // Size of the marker; Bigger to accomodate 3-digit ID
                origin: new google.maps.Point(0,-10)          // Origin of the marker
                },
                animation: google.maps.Animation.DROP,        // Added drop animation for markers; cooler
                draggable: false,                             // Markers NOT to be made draggable under any circumstances
                title: v.sample_identifier,
                label: {
                    text: v.id,                               // Text to be displayed in the label.  
                    color: "black"                            // Default text color of the marker
                }
            });
            marker.addListener('click', function() {
                // Marker Click Event Listener 
                showGisDetails(v.id);                         // Show GIS Details Marker Details
            });
            curr_markers.push(marker);                        // Add to current Markers Array
            // Highlights label text on mouseover for better visiblity
            google.maps.event.addListener(marker, "mouseover", function(evt) {
                var label = this.getLabel();
                label.color = "white";                        // On mouseover changes to white 
                this.setLabel(label);
            });
            google.maps.event.addListener(marker, "mouseout", function(evt) {
                var label = this.getLabel();
                label.color = "black";                        // On mouseout changes to black
                this.setLabel(label);
            });
            return marker;
        });
    }
    function clearCurrentMarkers(){
        // Clear all Markers from the Map and empty the Current Markers Array
        if(curr_markers.length<=0)
            return false;                                     // return false if there are no markers
        for(var i=0; i<curr_markers.length; i++)              // Iterate through complete Current Markers Array
            curr_markers[i].setMap(null);                     // Remove Marker from Map
        curr_markers = [];                                    // Empty Current Markers Array
    }
    function loadFilterKeys(){
        // Load Filter Keys to <select> from gisMetaFields Array 
        var gisFilterParameterKey = $("#gisFilterParameterKey");
        var loadFilterKeysTimer = setInterval(function(){
            // Set a repeated function call to check if meta fields array is loaded and then execute statements
            if(gis_meta_fields_stored == true && gis_groups_stored == true){
                clearInterval(loadFilterKeysTimer);
                $(".gisDataGroupSelect").on("change", function(){
                    var filteredFields = filterGisParametersByGroup($(this).val());
                    gisFilterParameterKey.empty();
                    $.each(filteredFields, function(i,v){
                        // Iterate through gisMetaFields Array and append new Option 
                        gisFilterParameterKey.append('<option value="'+v.key_name+'">'+v.label+'</option>');
                    });
                });
            }
        }, 200);
    }
    function showGisDetails(id){
        /** Show GIS Details based on ID in a Bootstrap Modals
         *
         * Iterates through gisData array to match ID and perform corrosponding statements
         * Returns false if ID is not found
         *
         * **/
        var gisModal = $("#gisModal");  //Select Modal Div
        var isFound = false;
        $.each(gisData, function(i,v){
            if(parseInt(v.id) == parseInt(id)){
                gisModal.find(".modal-title").html(v.sample_identifier);  //Set Modal Title
                // Dump raw data 
                var html = "Dumping Raw Data<br>";
                $.each(v, function(index,value){
                    html += "<br>"+index+":"+value;
                });
                gisModal.find(".modal-body").html(html);
                // End Dump Raw Data 
                isFound = true; //set isFound flag
                return false;   //End $.each loop
            }
        });
        if(isFound)
            gisModal.modal();   //Show Modal
        else
            return false;       // Return false on ID NOT FOUND
    }

    $("#gisFilterSubmitBtn").click(function(e){
        // Click Event Handler for Filter Submit Button 
        e.preventDefault();    //Disable default action
         $this = $(this);
         $this.attr("disabled","disabled");  //Disable the button to prevent duplicate clicks
         var gisFilterGroup = $(".gisDataGroupSelect");
         if(gisFilterGroup.val() == "" || gisFilterGroup.val() == undefined){
             alert("Please select a Data Group!");
             return false;
         }
         var gisFilterKey = $("#gisFilterParameterKey");                //Select Filter Key
         var gisFilterCondition = $("#gisFilterParameterCondition");    //Select Filter Condition
         var gisFilterValue = $("#gisFilterParameterValue");            //Select Filter Value
         var filteredArray = filterGisData(gisFilterKey.val(), gisFilterValue.val(), gisFilterCondition.val(), gisFilterGroup.val());  //Filter Data
         generateTableColumns();
         var timer = setInterval(function(){
             if(meta_loaded == true){
                 // when columns are recreated
                 clearInterval(timer);
                 //reload the table with new data
                 gisTable.bootstrapTable('refreshOptions', {columns: columns, data: filteredArray});
                 bindGisDataRemove();
             }
         },200);
         loadGisDataToMap(filteredArray);    //Load filtered data to map
         createChartsFromData(filteredArray);
         setTimeout(function(){
             $this.removeAttr("disabled");   //Re-enable Submit Button
         },1500);
     });
    $("#showAllBtn").click(function(e){
        e.preventDefault();
        if(dataGroupSelect.val() == "" || dataGroupSelect.val() == undefined){
            alert("Please Select a Data Group");
            return false;
        }
        var filteredArray = filterGisDataByGroup(dataGroupSelect.val());  //Filter Data
        generateTableColumns();
        var timer = setInterval(function(){
            if(meta_loaded == true){
                // when columns are recreated
                clearInterval(timer);
                //reload the table with new data
                gisTable.bootstrapTable('refreshOptions', {columns: columns, data: filteredArray});
                bindGisDataRemove();
            }
        },200);
        loadGisDataToMap(filteredArray);
        createChartsFromData(filteredArray);
    });
    function generateTableColumns(){
        meta_loaded = false;    //Status as not loaded
        /**
         * Generate Boostrap Table Columns
         *
        **/
        // Push Default Columns
        var tableColumnTimer = setInterval(function(){
            if(gis_meta_fields_stored == false || dataGroupSelect.attr("data-groups-loaded")=="undefined"
        || dataGroupSelect.attr("data-groups-loaded")==undefined || dataGroupSelect.attr("data-groups-loaded")!="true")
                return false;
            clearInterval(tableColumnTimer);
            columns = [];
            columns.push({field: 'state', checkbox: true, align: 'center'});
            columns.push({field: "id", title: "Id", editable: false});
            var filteredFields = filterGisParametersByGroup(dataGroupSelect.val());
            // Add Columns from Database Array 
            $.each(filteredFields, function(i,v){
                columns.push({field: v.key_name, title: v.label, sortable:true});
            });
            columns.push({field: 'action', title: 'Actions', align: 'center', formatter: actionFormatter});
            // Add Actions here 
            function actionFormatter(value, row, index){
                html = '<a href="#" class="gisDataRemoveBtn"><i class="glyphicon glyphicon-remove"></i></a>';
                return html;
            }
            meta_loaded = true;
        }, 200);
    }
    function createChartsFromData(r){
        var temp = [];
        $.each(r, function(i,v){
            $.each(v, function(key, value){
                if(key == "longitude" || key == "latitude" || key == "year" || key == "sample_identifier" || key == "id" || key=="data_group" || key=="state"){
                    //do nothing
                }else{
                    var flag = -1;
                    $.each(temp, function(index, val){
                        if(val.label == key){
                            flag = index;
                            return false;
                        }
                    });
                    if(flag == -1){
                        temp.push({label:key,values:[]});
                        flag = temp.length-1;
                    }
                    temp[flag].values.push({"year":v.year,"sample_identifier":v.sample_identifier,"value":value});
                }
            });
        });
        r = temp;
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        //	 instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
            $.each(r, function(i,v){
                var years = [], rows=[];
                var label ;
                var data = new google.visualization.DataTable();
                var isFirst = true;
                label = v.label;
                $.each(v.values, function(index, value){
                    var row = [];
                    years.push(value.year);
                    $.each(value, function(key, val){	
                        if(isFirst){
                            if(key == 'sample_identifier'){
                                //do nothing
                            }
                            else{
                                if(key == 'year'){
                                    data.addColumn('date', key);
                                }
                                else{
                                    if(key != "longitude" && key !="latitude"){
                                        data.addColumn('number', key);
                                    }
                                }
                            }
                        }
                        if(key!='sample_identifier' && key!='year')
                            val = parseFloat(val);
                        if(key == 'year'){
                            val = new Date(val);
                        }
                        if(key == "year" || key == "value"){
                            row.push(val);
                        }
                    });
                    
                    rows.push(row);
                    isFirst = false;
                });
                function sortFunction(a , b){
                    if (a[0] == b[0]){                        
                        return (a[1] < b[1]) ? -1 : 1;
                    }else{
                        return (a[0] < b[0]) ? -1 : 1;
                    } 
                }
                rows.sort(sortFunction); 
                // Add it to graph.. 
                data.addRows(rows);
                // Set chart options
                var options = {
                    'title': label + " Graph",
                    'curveType':'function',
                    'colors':['D64541'],
                    'legend': {position:'bottom'},
                    vAxes: {
                        // Adds titles to each axis.
                            0: {title: label},
                            1: {title: 'Year'}
                        },
                    hAxes: {
                        ticks: years
                    }
                };
                $("#charts").append('<div id="graph-'+label+'" class="col-xs-12 col-md-6"><div></div></div>');
                var newChart = $("#graph-"+label+">div")[0];
                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.LineChart(newChart);
                chart.draw(data, options);
            });
        }
    }
    init();     //Run Initial Tasks
</script>
{% include 'portal/partials/gistable.html' %}
{% endblock %}
