{% extends 'portal/base.html' %}
{% block title %}Reports{% endblock %}

{% block content %}
        <div class="row width-100-p no-margin">
            <section class="pull-left height-100 col-md-3 overflow-scroll">
                <div class="row">
                    <h4 class="text-center">Filter by</h4>
                    <div class="col-xs-12 form-group">
                        <select id="gisFilterParameterKey" class="form-control">
                        </select>
                    </div>
                    <div class="col-xs-12 form-group">
                        <select id="gisFilterParameterCondition" class="form-control">
                            <option value=">">Greater Than</option>
                            <option value="<">Less Than</option>
                            <option value="=">Equals</option>
                            <option value=">=">Greater Than or Equals</option>
                            <option value="<=">Less Than or Equals</option>
                        </select>
                    </div>
                    <div class="col-xs-12 form-group">
                        <input id="gisFilterParameterValue" class="form-control" placeholder="Value"/>
                    </div>
                    <div class="col-xs-12 form-group">
                        <button type="button" class="btn btn-primary form-control" id="gisFilterSubmitBtn">Filter</button>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center alert"  id="gisDataTableError"></div>
                    <table id="gisDataTable"></table>
                </div>
            </section>
            <section class="pull-left height-100 col-md-9 no-padding">
                <div class="container height-inherit no-margin no-padding width-100-p">
                    <div id="gisMap" class="height-inherit"></div>
                </div>
            </section>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="gisModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><!-- Modal Title --></h4>
                    </div>
                    <div class="modal-body">
                        <!-- Modal Body -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<script>
    var map;
    var mapsContainer = $("#gisMap")[0];
    var cent_lat = 28.644800; //Delhi 
    var cent_long = 77.216721; //Delhi
    var data_cache;
    var curr_markers = [];
    function get_curr_cord(){
        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(storePos);
        }
    }
    function storePos(position){
        cent_lat = position.coords.latitude;
        cent_long = position.coords.longitude;
        map.panTo({lat:cent_lat, lng:cent_long});
    }
    function initMap(){
        api_loaded = true;
    }
    function showMap(){
        map = new google.maps.Map(mapsContainer, {
            center: {lat: cent_lat, lng: cent_long },
            zoom: 6
        });
        getGisData(loadGisDataToContainers);
        getmetafields(loadGisMetaFieldsToContainers);
    }
    function loadGisDataToContainers(data){
        data_cache = data;
        loadGisDataToMap(data_cache);
    }
    function loadGisDataToMap(data){
        if(curr_markers.length>0){
            clearCurrentMarkers();
        }
        $.each(data, function(i,v){
            var coord = {lat: parseFloat(v.latitude) , lng: parseFloat(v.longitude) };
            var marker = new google.maps.Marker({
                position: coord,
                map: map,
                title: v.sample_identifier,
                label: v.id
            });
            marker.addListener('click', function() {
                showGisDetails(v.id);
            });
            curr_markers.push(marker);
        });
    }
    function clearCurrentMarkers(){
        if(curr_markers.length<=0)
            return false;
        for(var i=0; i<curr_markers.length; i++)
            curr_markers[i].setMap(null);
        curr_markers = [];
    }
    function loadGisMetaFieldsToContainers(data){
        var gisFilterParameterKey = $("#gisFilterParameterKey");
        $.each(data, function(i,v){
            gisFilterParameterKey.append('<option value="'+v.key_name+'">'+v.label+'</option>');
        });
    }
    function showGisDetails(id){
        var gisModal = $("#gisModal");
        $.each(data_cache, function(i,v){
            if(parseInt(v.id) == parseInt(id)){
                gisModal.find(".modal-title").html(v.sample_identifier);
                var html = "Dumping Raw Data<br>";
                $.each(v, function(index,value){
                    html += "<br>"+index+":"+value;
                });
                gisModal.find(".modal-body").html(html);
                return false;
            }
        });
        gisModal.modal();
    }
    $("#gisFilterSubmitBtn").click(function(e){
        e.preventDefault();
        $this = $(this);    
        $(this).attr("disabled","disabled");
        var gisFilterParameterKey = $("#gisFilterParameterKey");
        var gisFilterParameterCondition = $("#gisFilterParameterCondition");
        var gisFilterParameterValue = $("#gisFilterParameterValue");
        var filteredArray = [];
        $.each(data_cache, function(i,v){
            $.each(v, function(index, value){
                if(index == gisFilterParameterKey.val()){
                    var temp = v;
                    if(gisFilterParameterCondition.val() == "<"){
                       if(value < gisFilterParameterValue.val()){
                            filteredArray.push(temp);
                        }
                    }
                    if(gisFilterParameterCondition.val() == ">"){
                       if(value > gisFilterParameterValue.val()){
                            filteredArray.push(temp);
                        }
                    }
                    if(gisFilterParameterCondition.val() == "="){
                       if(value == gisFilterParameterValue.val()){
                            filteredArray.push(temp);
                        }
                    }
                    if(gisFilterParameterCondition.val() == ">="){
                       if(value >= gisFilterParameterValue.val()){
                            filteredArray.push(temp);
                        }
                    }
                    if(gisFilterParameterCondition.val() == "<="){
                       if(value <= gisFilterParameterValue.val()){
                            filteredArray.push(temp);
                        }
                    }
                }
            });
        });
        loadGisDataToMap(filteredArray);
        $("#gisDataTable").bootstrapTable("load",filteredArray);
        setTimeout(function(){$this.removeAttr("disabled");},1500);
    });
    get_curr_cord();
    var api_checker = setInterval(function(){if(api_loaded){showMap();clearInterval(api_checker);}},500);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2DVlvcLu7o2m-6OhfbipppHEzRofJh48&callback=initMap"></script>
{% include 'portal/partials/gistable.html' %}
{% endblock %}