{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Login | GIS{% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
        <style>
        body{
          overflow: hidden;
        }
        .login-panel{
          position: absolute;
        }
        </style>
    {% endblock %}
{% block body %}
<div class="container">
   <div id="particles-js" class="row">
       <div class="col-md-4 col-md-offset-4">
           <div class="login-panel panel panel-default">
               <div class="panel-heading text-center lead">Login</div>
               <div class="panel-body">
                    {% if next %}
                        {% if user.is_authenticated %}
                            <div class="alert alert-danger text-center">You are already logged in! If you are still seeing this page, means it's a bug! Report Immediately!</div>
                        {% else %}
                            {% if not form.errors %}
                                <div class="alert alert-danger text-center">You need to login first!</div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if form.errors %}<div class="alert alert-danger" role="alert">Please fix the errors!</div>{% endif %}


                    <form method="post" action="{% url 'accounts:login' %}">
                        {% csrf_token %}
                        <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                           <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                           <div class="input-group">
                               <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                               <input class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" placeholder="{{ form.username.label }}">
                           </div>
                           <div class="help-block">
                               <ul class="list-unstyled" style="padding-left:5px">
                               {% for err in form.username.errors %}
                                    <li>{{ err }}</li>
                                {% endfor %}
                               </ul>
                           </div>
                        </div>
                        <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                           <label for="{{ form.password.id_for_label }}">{{ form.password.label_tag }}</label>
                           <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" placeholder="{{ form.password.label }}">
                           </div>
                           <div class="help-block">
                               <ul class="list-unstyled" style="padding-left:5px">
                               {% for err in form.password.errors %}
                                    <li>{{ err }}</li>
                                {% endfor %}
                               </ul>
                           </div>
                        </div>
                        <div class="form-group text-center">
                            <input class="btn btn-primary btn-md" type="submit" value="Login" />
                        </div>
                       <input type="hidden" name="next" value="{{ next }}" />
                   </form>
               </div><!-- End Panel Body -->
           </div><!-- End Panel -->
       </div>
   </div><!-- End row -->
</div><!-- End Container -->

{% endblock %}

{% block javascript %}
<link rel="stylesheet" href="{% static 'accounts/login.css' %}">
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script defer src="{% static 'accounts/particles.js' %}"></script>

<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}
