.no-margin{
    margin: 0!important;
}
.no-padding{
    padding:0!important;
}

.width-inherit{
    width:inherit;
}
.height-inherit{
    height: inherit;
}
.height-80{
    height: 80vh;
}
.icon-btn{
    padding:0.5em;
    cursor: pointer;
}