<style>
    .dropdown{
        padding: 20px;
        color:#333;
    }
    .navbar{
        background-color: rgba(255,255,255,0.9);
        z-index: 999;
        box-shadow: 0 0 14px 1px #7b7b7b;;
        height: 64px;
        font-size: 18px;
        margin-bottom: 2px;
    }   
    .navbar-brand{
        margin: 0!important;
        font-size: 1.5em;
    }
    .navbar a{
        padding: 20px!important;
        line-height: 25px!important;
    }
    .dropdown{
        padding: 0;
        margin: 0;
    }
    .dataDropdown-toggle{
        height: 65px;
        padding: 20px!important;
        line-height: 25px!important;
    }
    .listHeader{
        margin: 10px;
    }
    .listElement a{
        padding: 10px!important;
        margin: 0!important;
    }
</style>
<div class="navbar navbar-default">
    <div class="container-fluid">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
    	        <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
            <a class="navbar-brand" href="{% url 'portal:home' %}">Open GIS Project</a>
	    </div>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated == True %}
                <li class="dropdown">
                    <a href="#" id='dataDropdown-toggle' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Management<span class="caret"></span></a>
                    <ul class="dropdown-menu padding-20">
                        <li class="listHeader"><strong>GIS Data</strong></li>
                        <li class="listElement"><a href="{% url 'portal:add-data' %}">Add Data</a></li>
                        <li class="listElement"><a href="{% url 'portal:browse-data' %}">Browse Table</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="listHeader"><strong>GIS Parameters</strong></li>
                        <li class="listElement"><a href="{% url 'portal:parameters' %}">Add/Browse Parameters</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="listHeader"><strong>GIS Data Groups</strong></li>
                        <li class="listElement"><a href="{% url 'portal:datagroups' %}">Add/Browse Data Groups</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="listHeader"><strong>Shapefiles</strong></li>
                        <li class="listElement"><a href="{% url 'portal:shapefiles' %}">Browse/Create Shapes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" id='dataDropdown-toggle' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Data Tools<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu padding-20">
                       <li class="listElement"><a href="{% url 'portal:importer' %}">Import GIS Data</a></li>
                       <li class="listElement"><a href="{% url 'portal:upload-manager' %}">Uploads Manager</a></li>
                    </ul>
                </li>
                {% endif %}
                <li><a href="{% url 'portal:reports' %}">Reports</a></li>
                {% if user.is_authenticated == True %}
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>